<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Students</title>
</head>

<body>
    <h1>Form</h1> <br>

    <form action="add-students" method="post">
        <label>Enter name: </label>
        <input type="text" name="name" placeholder="Enter name"> <br><br>

        <label>Enter age: </label>
        <input type="text" name="age" placeholder="Enter age"> <br><br>

        <label>Enter email ID: </label>
        <input type="text" name="email" placeholder="Enter Email Id"> <br><br>

        <button>Add New User</button>
    </form>
</body>

</html>